{% extends '@Wiki/base.html.twig' %}

{% block body %}
    <h1> Wiki: {{ wikiPage.wiki.name }} :: {% if wikiPage.id %} Edit {% else %} Add {% endif %} Page </h1>
    <div class="col-md-12">
    {{ form_start(form) }}
                  {{ form_widget(form) }}

                <button class="btn btn-success">{{ button_label|default('Save') }}</button>
                <a href="{{ path('wiki_page_index',{'wikiName': wikiPage.wiki.name }) }}"   class="btn btn-primary" >
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Back
                </a>
    {{ form_end(form) }}
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script>
        $(document).ready(function(){
            var easyMDE = new EasyMDE({
                element: document.getElementById('EasyMDE'),
                renderingConfig : {
                    codeSyntaxHighlighting: true
                }
            });
        })
    </script>
{% endblock %}
